.div {
    background-color: #C4C4C4;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 850px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
  
}
  .p{
   position: relative;
  left:30px;
  }
  .p1{
   position: relative;
  left:-20px;
  }
  h4{
   position: relative;
  left:10px;
  }

.buttons {
  background-color: #1567b3;
  width: 100px;
  height: 50px;
  color: white;
}

#button {
  position: relative;
  left: 100px;
}

#baslik {
  font-weight: bold;
}

.no-link {
  color: black;
}